.header {
    padding: 10px 0px;
    background-color: #ffffff;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


@media (max-width: 575px) {
    .header {
        &__row {
            gap: 20px;
        }
    }
}