.products {
    &__head {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
    }

    &__select {
        width: 250px;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .products {
        &__head {
            flex-wrap: wrap;

            .ant-space-item {
                width: 100% !important;
            }
        }

        &__select {
            width: 100%;
        }
    }
}
