.product-card {
	display: block;
	padding: 20px;
	height: 100%;
	border-radius: 8px;
	background-color: #ffffff;
	transition: box-shadow 0.3s linear;

	&:hover {
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	}

	&__head {
		gap: 15px;
		width: 100%;
		display: flex;
		margin-bottom: 15px;
		flex-direction: column;
		align-items: flex-start;
	}

	&__head-row {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		font-weight: 600;
		color: #000000;
	}

	&__price {
		font-size: 12px;
		font-weight: 600;
		color: #ffffff;
		background-color: #000000;
		border-radius: 20px;
		padding: 5px 10px;
	}

	&__excerpt {
		color: gray;
		font-size: 15px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	&__footer {
		gap: 10px;
		display: flex;
		margin-top: 20px;
	}
}
